.form-container {
  /* width: fit-content; */
  border-radius: 0.5rem;
  box-shadow: #343a40 6px 10px;
  background: #f8f9fa;
  padding: 2rem;
  width: calc(100% - 12rem);
  max-height: calc(100% - 7rem);
  overflow: scroll;

}



.input-container {
  margin: 1rem 0rem;
}
.input-container > .label {
  margin-bottom: 0.25rem;
  display: flex;
}
.input-container > input {
  display: flex;
  width: calc(100% - 2rem);
  color: #000000;
}
.label{
  color: #000000;
}
