
.profile-container{
    position:absolute;
    right: 4rem;
    top: 1rem;
}
.profile-container > img{
    width: 1.5rem;
    height: 1.5rem;
}
.username{
    font-size: 1.5rem;
    font-weight: 500;
    white-space: nowrap;
}
ol{
    border: 1px solid;
    border-radius: 8px;
    padding: 2rem;
    list-style-type: none;
    margin: 1rem 3rem;
}

li{
    padding: 1rem 3rem;
    border: 1px solid;
    border-radius: 8px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

li:last-child{
    margin-bottom: 0rem;
}


